.display-4 {
  font-size: 3.5em !important;
}

@media screen and (min-width : 1204px) {
  .show-small {
    display: none;
  }
}

@media screen and (max-width : 1204px) {
  .display-4{
    font-size: 2.7em !important;
  }
}

@media screen and (max-width : 990px) {
  .display-4{
    font-size: 2em !important;
  }
  .no-show-small {
    display: none;
  }
}

@media screen and (min-width : 990px) {
  .show-small {
    display: none;
  }
}
