.artist-list-title {
    color: #aaa;
    font-weight: 500;
}

.ArtistsList {
    margin-top: 10px;
    box-shadow: 1px 1px 5px 1px #aaaaaa;
    padding: 10px;
}

.littleMarginLeft {
    margin-left: 20px;
}