.ArtistsForm::before {
    color: #aaa;
    font-size: smaller;
    font-weight: 500;
    content: 'ADD AN ARTIST';
}

.ArtistsForm {
    background-color: #fcfcfc;
    padding: 15px;
    border-style: solid;
    border-color: black;
    border-width: 1px;
    border-radius: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
}