.Stats {
    background-color: #f75670;
    color: #fcfcfc;
    padding: 15px;
    border-radius: 15px;
    height: 150px;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 1em;
    box-shadow: 1px 1px 5px 1px #aaaaaa;
}